@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'OT Miniature';
  src: url('/fonts/otminiature-regular.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OT Miniature';
  src: url('/fonts/otminiature-bold.OTF') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'OT Miniature';
  src: url('/fonts/otminiature-bolditalic.OTF') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'OT Miniature';
  src: url('/fonts/otminiature-regulatitalic.OTF') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'OT Miniature';
  src: url('/fonts/otminiature-extralightitalic.OTF') format('opentype');
  font-weight: 300;
  font-style: italic;
}

body {
  font-family: 'Inter', sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.accordion-icon::before {
  content: "+";
  transition: transform 0.3s ease;
}

[data-state="open"] .accordion-icon::before {
  content: "×";
}
.no-need-section {
  background-image: url(/desktop/no-need/no-need.webp); /* Replace with your image path */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* min-height: 603px; */
  min-height: 43.7vw;
}

.why-listeners-matter-section {
  background-image: url(/desktop/why-listeners-matter/frame_131.webp); /* Replace with your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* min-height: 41.875vw; */
  min-height: 603px;
}
.swiper-pagination-bullet {
  background: gray;
  opacity: 0.6;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  display: none !important;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
  display: none !important;

}
.swiper-pagination-bullet-active {
  background: rgb(48, 48, 48) !important;
  opacity: 1;
}
.swiper-button-prev-meet.swiper-button-disabled, .swiper-button-next-meet.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev-tes.swiper-button-disabled, .swiper-button-next-tes.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}