@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'OT Miniature';
  src: url('/fonts/otminiature-regular.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OT Miniature';
  src: url('/fonts/otminiature-bold.OTF') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'OT Miniature';
  src: url('/fonts/otminiature-bolditalic.OTF') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'OT Miniature';
  src: url('/fonts/otminiature-regulatitalic.OTF') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'OT Miniature';
  src: url('/fonts/otminiature-extralightitalic.OTF') format('opentype');
  font-weight: 300;
  font-style: italic;
}

body {
  font-family: 'Inter', sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
.Listener .DotButton {
  background: white !important;
}

.accordion-icon::before {
  content: "+";
  transition: transform 0.3s ease;
}

[data-state="open"] .accordion-icon::before {
  content: "×";
}
.no-need-section {
  background-image: url(/desktop/no-need/no-need.webp); /* Replace with your image path */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* min-height: 603px; */
  min-height: 43.7vw;
}

.why-listeners-matter-section {
  background-image: url(/desktop/why-listeners-matter/mental.png); /* Replace with your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* min-height: 41.875vw; */
  min-height: 603px;
}

.listener{
  background-image: url(/desktop/listener/listener-bg.webp); /* Replace with your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* min-height: 41.875vw; */
  min-height: 903px;
  width: 100vw; /* Full width of the viewport */
  
}

.listenerMobile{
  background-image: url(/desktop/listener/listener-bg.webp); /* Replace with your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: start;
  /* min-height: 41.875vw; */
  /* height: 389.041px; */
  width: 813.855; /* Full width of the viewport */
  
}
.swiper-button-prev:after, .swiper-button-next:after{
  display: none !important;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  display: none !important;

}
.swiper-pagination-bullet-active{
  background-color: #151e28 !important;
}
.how .swiper-pagination-bullet-active{
  background-color: #ffffff !important;
}
.custom-prev-how.swiper-button-disabled {
  opacity: 0 !important;
}
.custom-next-how.swiper-button-disabled {
  opacity: 0 !important;
}
.Impact .swiper-pagination-bullet-active{
  background-color: #151e28 !important;
}
.swiper-button-disabled {
  opacity: 0.5;
}
.custom-prev-Impact.swiper-button-disabled {
  opacity: 0 !important;
}
.custom-next-Impact.swiper-button-disabled {
  opacity: 0 !important;
}



@keyframes marquee {
  from { transform: translateX(100%); }
  to { transform: translateX(-100%); }
}
.animate-marquee {
  animation: marquee 20s linear infinite;
}